<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <html xmlns:wb="http://open.weibo.com/wb">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <title>一步步搭建物联网系统</title>
    <meta name="keywords" content="设计物联网系统,物联网系统设计">
    <meta name="description" content="一份关于如何设计物联网系统的文档">
    <link rel="stylesheet" href="css/vendor.css" />
</head>
<body class="container inner wrap">
<wb:follow-button uid="1533917471" type="red_4" width="100%" height="64" ></wb:follow-button>

<table>
    <tr>
        <td>
            <iframe src="http://ghbtns.com/github-btn.html?user=gmszone&repo=designiot&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
        </td>
        <td>
            <iframe src="http://ghbtns.com/github-btn.html?user=gmszone&repo=designiot&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
        </td>
        <td>
            <iframe src="http://ghbtns.com/github-btn.html?user=gmszone&type=follow&count=true&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;" allowTransparency="true"></iframe>
        </td>
    </tr>
</table>
其他:<a href="http://designiot.phodal.com/iot.html" title="基于REST服务的最小物联网系统设计">基于REST服务的最小物联网系统设计</a>
<h2>一步步搭建物联网系统</h2>
</body>
</html>