<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb" >
	<head>
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
		<title>一步步搭建物联网系统(教你设计物联网系统)</title>
		<meta name="keywords" content="设计物联网系统,物联网系统设计">
		<meta name="description" content="一份关于如何设计物联网系统的文档">
		<link rel="stylesheet" href="css/vendor.css" />
	</head>
	<body class="container inner wrap">
		<wb:follow-button uid="1533917471" type="red_4" width="100%" height="64" ></wb:follow-button>
		<table>
			<tr>
				<td>
					<iframe src="http://ghbtns.com/github-btn.html?user=phodal&repo=designiot&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
				</td>
				<td>
					<iframe src="http://ghbtns.com/github-btn.html?user=phodal&repo=designiot&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
				</td>
				<td>
					<iframe src="http://ghbtns.com/github-btn.html?user=phodal&type=follow&count=true&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;" allowTransparency="true"></iframe>
				</td>
			</tr>
		</table>
		<h2>纸质版《自己动手设计物联网》现已出版</h2>

<p><a href="./designiot.jpg" target="_blank"><img src="./designiot.jpg" alt="Designiot" style="max-width:100%;"></a></p>

<p>立即购买：<a href="https://www.amazon.cn/dp/B01IBZWTWW/ref=wl_it_dp_o_pC_nS_ttl?_encoding=UTF8&amp;colid=BDXF90QZX6WX&amp;coliid=I19EB97K0GNLW8">亚马逊</a>、<a href="http://search.jd.com/Search?keyword=%E8%87%AA%E5%B7%B1%E5%8A%A8%E6%89%8B%E8%AE%BE%E8%AE%A1%E7%89%A9%E8%81%94%E7%BD%91&amp;enc=utf-8&amp;wq=%E8%87%AA%E5%B7%B1%E5%8A%A8%E6%89%8B%E8%AE%BE%E8%AE%A1%E7%89%A9%E8%81%94%E7%BD%91&amp;pvid=k24y6hri.l4xi28">京东</a></p>


		<h1>一步步搭建物联网系统(教你设计物联网系统)</h1>
		源自毕业论文:<a href="http://ebook.designiot.cn/iot.html" title="基于REST服务的最小物联网系统设计">基于REST服务的最小物联网系统设计</a>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-54524083-1', 'auto');
		ga('send', 'pageview');
		</script>
	</body>
</html>